* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Exo 2', sans-serif;
	color: rgba(10,10,10,1);
	scroll-behavior: smooth;
}

body {
	background-image: linear-gradient(to bottom right, rgba(245,245,245,.69), rgba(230,230,230,.69), rgba(215,215,215,.69), rgba(200,200,200,.69), rgba(185,185,185,.69));
	background-size: cover;
}

.animated.delay-6s {
  -webkit-animation-delay: 4.2s;
  animation-delay: 4.2s;
}

.animated.delay-7s {
  -webkit-animation-delay: 4.4s;
  animation-delay: 4.4s;
}

.animated.delay-8s {
  -webkit-animation-delay: 4.6s;
  animation-delay: 4.6s;
}

.animated.delay-9s {
  -webkit-animation-delay: 4.8s;
  animation-delay: 4.8s;
}

.animated.delay-10s {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

.animated.delay-11s {
  -webkit-animation-delay: 5.2s;
  animation-delay: 5.2s;
}

.animated.delay-12s {
  -webkit-animation-delay: 5.4s;
  animation-delay: 5.4s;
}

.animated.delay-13s {
  -webkit-animation-delay: 5.6s;
  animation-delay: 5.6s;
}

.animated.delay-14s {
  -webkit-animation-delay: 5.8s;
  animation-delay: 5.8s;
}

.animated.delay-15s {
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
}

.centered {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#my-picture img{
	height: 215px;
	width: 200px;
}

#my-fullname {
	font-size: 2rem;
	font-weight: bolder;
	padding-bottom: 2px;
	border-bottom: 1px solid rgba(10,10,10,.5);
}

#my-title {
	font-size: 1rem;
	font-weight: bold;
	letter-spacing: 2px;
	opacity: .8;	
}

#my-contacts a {
	text-decoration: none;
	font-weight: bolder;
	color: inherit;
}


#my-social-links a img {
	height: 25px;
	width: 25px;
}

#my-social-links a img[src*="gitlab"] {
	height: 25px;
	width: 27px;
}

#my-social-links a img:hover{
	transform: scale(1.2);
	transition: transform .3s;
}

#my-email a img {
	height: 15px;
	width: 20px;
}

#my-email a img:hover{
	transform: scale(1.2);
	transition: transform .3s;
}

#my-phone {
	letter-spacing: 1px;
}

#my-phone i:hover {
	transform: scale(1.2);
	transition: transform .3s;
}

#my-resume {
	letter-spacing: 1px;
}

#my-resume i:hover{
	transform: scale(1.2);
	transition: transform .3s;
}

#my-skills img {
	height: 30px;
	width: 30px;
}

#my-projects {
	border-top: 1px solid hsla(0,0%,0%,.1);
}

#my-projects-clicker {
	text-decoration: none;
	font-weight: bolder;
	color: inherit;
	font-size: 2.5rem;
}

#capstone1 {
	text-decoration: none;
}

#capstone2{
	text-decoration: none;
}

#capstone3{
	text-decoration: none;
}

#my-projects .card {
	width: 18rem;
	height: 32rem;
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
	opacity: .8;
}

#my-projects .card:hover {
	opacity: 1;
	border: 1px solid hsla(0,0%,0%,.3);
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.4);
	transform: scale(1.1);
	transition: transform .3s;
}

#my-projects .card-title {
	font-weight: bold;
	letter-spacing: 2px;
}

#my-projects .card-text{
	color: rgba(10,10,10,.8);
}

#my-footer-clicker {
	text-decoration: none;
	font-weight: bold;
	color: inherit;
	font-size: 1.5rem;
}



/*Desktop Styles*/
@media only screen and (min-width: 961px){

}

/*Tablet Styles*/
@media only screen and (min-width: 401px) and (max-width: 960px){
	#my-fullname {
		font-size: 1.8rem;
	}

	#my-projects-clicker {
		font-size: 1.9rem;
	}
}

/*Mobile Styles*/
@media only screen and (max-width: 400px){
	#my-fullname {
		font-size: 1.5rem;
	}

	#my-projects-clicker {
		font-size: 1.7rem;
	}

	#my-email {
		font-size: 85%;
	}
}
